.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 0 2px;
}

.searchExampleText {
  font-size: 14px;
}

input {
  padding: 0 10px;
  height: 40px;
  border-radius: 4px 0 0 4px;
  border: solid 1px #3b3440;
  background: #14121a;
  box-sizing: border-box;
  width: 300px;
  outline: none;


  &:focus {
      border: solid 1px #62566b;
  }
}

button {
  padding: 0 10px;
  height: 40px;
  min-width: 100px;
  border-radius: 0 4px 4px 0;
  border: solid 1px #3b3440;
  background: #1f1c29;
  color: #ae96f8;
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    background: #252130;
  }

  &:active {
    background: #2a2636;
  }

  &:disabled {
    color: #3b3440;
  }
}